<nav class="navbar navbar-expand-lg navbar-light bg-tmrt-pale-grey">
    <div class="container">
      <a class="navbar-brand" href="{{ site.baseurl }}/">trmt.uk</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/blog.html">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>